# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
symphony/symfony_app/manatime_project_directory/.env.test
symphony/symfony_app/manatime_project_directory/.gitignore
symphony/symfony_app/manatime_project_directory/composer.json
symphony/symfony_app/manatime_project_directory/composer.lock
symphony/symfony_app/manatime_project_directory/docker-compose.override.yml
symphony/symfony_app/manatime_project_directory/docker-compose.yml
symphony/symfony_app/manatime_project_directory/phpunit.xml.dist
symphony/symfony_app/manatime_project_directory/symfony.lock
symphony/symfony_app/manatime_project_directory/bin/console
symphony/symfony_app/manatime_project_directory/bin/phpunit
symphony/symfony_app/manatime_project_directory/config/bundles.php
symphony/symfony_app/manatime_project_directory/config/preload.php
symphony/symfony_app/manatime_project_directory/config/routes.yaml
symphony/symfony_app/manatime_project_directory/config/services.yaml
symphony/symfony_app/manatime_project_directory/config/packages/cache.yaml
symphony/symfony_app/manatime_project_directory/config/packages/debug.yaml
symphony/symfony_app/manatime_project_directory/config/packages/doctrine_migrations.yaml
symphony/symfony_app/manatime_project_directory/config/packages/doctrine.yaml
symphony/symfony_app/manatime_project_directory/config/packages/framework.yaml
symphony/symfony_app/manatime_project_directory/config/packages/mailer.yaml
symphony/symfony_app/manatime_project_directory/config/packages/messenger.yaml
symphony/symfony_app/manatime_project_directory/config/packages/monolog.yaml
symphony/symfony_app/manatime_project_directory/config/packages/notifier.yaml
symphony/symfony_app/manatime_project_directory/config/packages/routing.yaml
symphony/symfony_app/manatime_project_directory/config/packages/security.yaml
symphony/symfony_app/manatime_project_directory/config/packages/translation.yaml
symphony/symfony_app/manatime_project_directory/config/packages/twig.yaml
symphony/symfony_app/manatime_project_directory/config/packages/validator.yaml
symphony/symfony_app/manatime_project_directory/config/packages/web_profiler.yaml
symphony/symfony_app/manatime_project_directory/config/routes/annotations.yaml
symphony/symfony_app/manatime_project_directory/config/routes/framework.yaml
symphony/symfony_app/manatime_project_directory/config/routes/web_profiler.yaml
symphony/symfony_app/manatime_project_directory/migrations/.gitignore
symphony/symfony_app/manatime_project_directory/public/index.php
symphony/symfony_app/manatime_project_directory/src/Kernel.php
symphony/symfony_app/manatime_project_directory/src/Controller/.gitignore
symphony/symfony_app/manatime_project_directory/src/Entity/.gitignore
symphony/symfony_app/manatime_project_directory/src/Repository/.gitignore
symphony/symfony_app/manatime_project_directory/templates/base.html.twig
symphony/symfony_app/manatime_project_directory/tests/bootstrap.php
symphony/symfony_app/manatime_project_directory/translations/.gitignore
