{% extends 'manatimeTemplates/base.html.twig' %}

{% block title %}Manatime Test Project{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <!--<h1>Current controller : {#{ controller_name }#}! ✅</h1>-->
   {#{ app.request.attributes.get("_controller") }#}

    <h1>Manatime Gestion d'equipement</h1>


    <div>Cliquez une option:</div>
    <!--
    <ul>
        <li>Your controller at <code><a href="{{ '/app/project5_4/src/Controller/DefaultController.php'|file_link(0) }}">kisrc/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/app/project5_4/templates/default/index.html.twig'|file_link(0) }}">kitemplates/default/index.html.twig</a></code></li>
    </ul>
    -->
    
    


    <div><a href="{{path('app_add_equipment')}}">Ajouter un equipement</a></div>
    <div><a href ="{{path('app_modify_equipment')}}">Modifier un equipement</a></div>
    <div>Supprimer un equipement</div>
    <div>Afficher les equipements</div>





</div>
{% endblock %}
